@import url(https://fonts.googleapis.com/css?family=Raleway:100);
.navbar-nav > li > a {
  line-height: 1.42857143;
}
.row {
  margin-right: 0;
}

@font-face {
  font-family: PnDIcons;
  src: url('../fonts/pndicons.eot?') format('eot'),
    url('../fonts/pndicons.woff') format('woff'),
    url('../fonts/pndicons.ttf') format('truetype'),
    url('../fonts/pndicons.svg') format('svg');
}
body, html {
    height: 100%;
    padding: 0;
    overflow: hidden;
}
#contentHolder {
    position:relative;
    height: 100%;
}
#grid6x5, #grid7x6, #grid5x4, #path {
  top: 20px;
  left: 20px;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#path { pointer-events: none; z-index: 2; }
.e0, .e1, .e2, .e3, .e4, .e5, .e6, .eX {
  font-family: PnDIcons;
  text-align: center;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  display: inline-block;
  background-repeat: no-repeat;
}
#grid6x5 > div, #grid7x6 > div, #grid5x4 > div { position: absolute; cursor: pointer; }
#grid6x5 > div:nth-child(6n+1), #grid7x6 > div:nth-child(7n+1) { left: 0px; }
#grid5x4 > div:nth-child(5n+1) { left: 32px; }
#grid6x5 > div:nth-child(6n+2), #grid7x6 > div:nth-child(7n+2) { left: 64px; }
#grid5x4 > div:nth-child(5n+2) { left: 96px; }
#grid6x5 > div:nth-child(6n+3), #grid7x6 > div:nth-child(7n+3) { left: 128px; }
#grid5x4 > div:nth-child(5n+3) { left: 160px; }
#grid6x5 > div:nth-child(6n+4), #grid7x6 > div:nth-child(7n+4) { left: 192px; }
#grid5x4 > div:nth-child(5n+4) { left: 224px; }
#grid6x5 > div:nth-child(6n+5), #grid7x6 > div:nth-child(7n+5) { left: 256px; }
#grid5x4 > div:nth-child(5n+5) { left: 288px; }
#grid6x5 > div:nth-child(6n+6), #grid7x6 > div:nth-child(7n+6) { left: 320px; }
#grid7x6 > div:nth-child(7n+7) { left: 384px; }
.row1 { top: 0px; }
.row2 { top: 64px; }
.row3 { top: 128px; }
.row4 { top: 192px; }
.row5 { top: 256px; }
.row6 { top: 320px; }
.e0 { background-image: url('../img/fire_grid.png'); color: #f74; }
.e1 { background-image: url('../img/water_grid.png'); color: #8ff; }
.e2 { background-image: url('../img/grass_grid.png'); color: #4f6; }
.e3 { background-image: url('../img/light_grid.png'); color: #fe5; }
.e4 { background-image: url('../img/dark_grid.png'); color: #d5c; }
.e5 {
  color: #f7d;
  margin: 0.1em;
  width: 1.3em;
  height: 1.3em;
  background-image: url('../img/heart_grid.png');
  background-size: 52px;
}
.e6 { background-image: url('../img/poison_grid.png'); border-radius: 0%; color: navy; }
.eX { background: #444; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; color: #ccc; }

/* resizing */
span.e0, span.e1, span.e2, span.e3, span.e4, span.e5, span.e6 {
  background-size: 20px;
}
#change-popup > span.e0, #change-popup > span.e1, #change-popup > span.e2, #change-popup > span.e3, #change-popup > span.e4, #change-popup > span.e5, #change-popup > span.e6 {
  background-size: 40px;
  margin-left: 4px;
}
td.e0, td.e1, td.e2, td.e3, td.e4, td.e5, td.e6 {
  background-size: 23px;
}
#grid6x5 .e0, #grid6x5 .e1, #grid6x5 .e2, #grid6x5 .e3, #grid6x5 .e4, #grid6x5 .e6, #grid6x5 .eX, #grid7x6 .e0, #grid7x6 .e1, #grid7x6 .e2, #grid7x6 .e3, #grid7x6 .e4, #grid7x6 .e6, #grid7x6 .eX, #grid5x4 .e0, #grid5x4 .e1, #grid5x4 .e2, #grid5x4 .e3, #grid5x4 .e4, #grid5x4 .e6, #grid5x4 .eX {
  background-size: 60px;
  font-size: 40px;
}
/* heart orb */
span.e5 { background-size: 18px; }
#change-popup > span.e5 { background-size: 38px; margin-left: 6px;}
#change-popup > span.e6 { margin-top: 10px; margin-left:4px }
#change-popup > span.change-target.e6 { margin-top: 0px; margin-left:4px }
#change-popup > span.eX { 
  width: 40px;
  height: 40px;
  line-height: 1.4em;
  margin-right: 4px;
  margin-left: 4px;
}
#change-cancel { margin-top 5px; }
td.e5 { background-size: 20px; }
#grid6x5 .e5, #grid7x6 .e5, #grid5x4 .e5 { font-size: 40px; }

/*
.e0::before { content: "\1f525"; }
.e1::before { content: "\1f4a7"; }
.e2::before { content: "\1f342"; }
.e3::before { content: "\2600"; }
.e4::before { content: "\263e"; }
.e5::before { content: "\2665"; }
.e6::before { content: "\1f608"; } */

.eX::before { content: "?"; }

#profile6x5, #profile5x4 {
  position: absolute;
  left: 445px;
  top: 20px;
}

#profile7x6 {
  position: absolute;
  left: 509px;
  top: 20px;
}
#profile6x5 .e0, #profile6x5 .e1, #profile6x5 .e2, #profile6x5 .e3, #profile6x5 .e4, #profile6x5 .e6, #profile6x5 .e5, #profile6x5 .eX, #profile7x6 .e0, #profile7x6 .e1, #profile7x6 .e2, #profile7x6 .e3, #profile7x6 .e4, #profile7x6 .e6, #profile7x6 .e5, #profile7x6 .eX, #profile5x4 .e0, #profile5x4 .e1, #profile5x4 .e2, #profile5x4 .e3, #profile5x4 .e4, #profile5x4 .e6, #profile5x4 .e5, #profile5x4 .eX {
  font-size: 16px;
}
#profile6x5 input, #profile7x6 input, #profile5x4 input { width: 2.8em; border: 0px; margin: 2px; }
#controls6x5 {
  position: absolute;
  left: 20px;
  top: 346px;
  width: 380px;
  text-align: center;
  line-height: 2em;
}
#controls5x4 {
  position: absolute;
  left: 20px;
  top: 282px;
  width: 380px;
  text-align: center;
  line-height: 2em;
}
#controls7x6 {
  position: absolute;
  left: 20px;
  top: 436px;
  width: 444px;
  text-align: center;
  line-height: 2em;
}
#extra-controls6x5 {
  position: absolute;
  left: 37px;
  top: 459px;
  z-index: 9999;
}
#extra-controls5x4 {
  position: absolute;
  left: 37px;
  top: 395px;
  z-index: 9999;
}
#extra-controls7x6 {
  position: absolute;
  left: 68px;
  top: 549px;
  z-index: 9999;
}
#solve {
  min-width: 350px;
  font-size: 2.25em;
  font-weight: bold;
}
#status {

}
#solutions {

}
#solutions li { padding: 4px; cursor: pointer; }
#solutions li:hover { background: #cfc; }
#hand {
  position: absolute;
  background: yellow;
  border: 2px solid black;
  width: 12px;
  height: 12px;
  z-index: 99999999;
}
#import-popup, #change-popup {
  position: absolute;
  border: 3px solid black;
  background: #eee;
  padding: 20px;
}
.import-popup6x5, .import-popup5x4 {
  width: 350px;
  height: 220px;
  left: 440px;
  top: 190px;
}
.import-popup7x6 {
  width: 390px;
  height: 240px;
  left: 440px;
  top: 190px;
}
#change-popup {
  width: 190px;
  top: 65px;
  left: 450px;
  font-size: 30px;
  z-index: 10001;
}
#import-legend, #change-popup { line-height: 1.6em; }
.import-textarea6x5 {
  position: absolute;
  left: 125px;
  top: 20px;
  width: 10em;
  height: 8em;
  font-size: 20px;
  font-family: 'Roboto', monospace;
  letter-spacing: 20px;
  resize: none;
}
.import-textarea7x6 {
  position: absolute;
  left: 125px;
  top: 20px;
  width: 12em;
  height: 9em;
  font-size: 20px;
  font-family: 'Roboto', monospace;
  letter-spacing: 20px;
  resize: none;
}
.import-textarea5x4 {
  position: absolute;
  left: 125px;
  top: 45px;
  width: 9em;
  height: 6em;
  font-size: 20px;
  font-family: 'Roboto', monospace;
  letter-spacing: 20px;
  resize: none;
}
.import-control6x5, .import-control5x4 {
  margin-top: -15px;
  right: 20px;
  bottom: 20px;
  float: right;
}
.import-control7x6 {
  margin-top: 5px;
  right: 20px;
  bottom: 20px;
  float: right;
}
#change-control {
  right: 20px;
  bottom: 20px;
}
#change-control input {
  width: 100%;
  display: inline-block;
  margin-top: 13px;
}
#import-import, #change-change { font-weight: bold; }
.change-target { cursor: pointer; }
.prev-selection {
  background-color: #363634;
}

#solutions {
  left: 800px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 14px;
  overflow: auto;
  padding: 5%;
  background-color:rgba(0,0,0,0.35);
  width: 100%;
  z-index: 99;
}
#solutions li {
  transition: background-color 0.05s ease-in-out;
  transition: padding 0.3s ease;
}

#solutions li:hover {
  background: rgb(60,60,60);
  padding: 20px 4px;
}
#screenshot-upload {

  display: block;
  background-color: white;
  border: 1px solid black;
}
.uploaded-image {
  display: block;
  cursor: pointer;
  width: 100%;
}
.dots {
  position: fixed !important;
  bottom: 50%;
  right: 50%;
  z-index: 99999999;
  transform: scale(6);
}
.navbar-right .upload ul {
  width: 550px;
}
body {
  font-family: 'Roboto', Helvetica;
  background: url('../img/bg.gif') repeat;
}
th, label, #status, li, p {
  color: white;
}
#profile-selector {
  color: black;
}
#screenshot-upload {
  padding: 0px;
}
.dz-details{
  width: 100% !important;
  height: auto !important;
  float: left;
  top: -90px;
  padding: 0px !important;
}
.dz-message {
  transform: scale(0.5);
}
.dz-image-preview {
  width: 90% !important;
  cursor: pointer !important;
  display: block !important;
  float: left;
  max-height: 86px;
  overflow:hidden;
  padding: 0px !important;
}
.dz-image-preview:hover {

}
.dz-details img {
  position:relative !important;
  width: 100% !important;
  height: auto !important;
  opacity: 1 !important;
  cursor: default !important;
}
.dz-details img:hover {
}
.dz-filename {
  display: none !important;
}
.list-float-left {
  width: 40%;
  display: block;
  float: left;
}
.list-float-right {
  width: 60%;
  display: block;
  float: left;

}
.navbar-fixed-bottom .navbar-collapse {
  max-height: 650px !important;
}
.navbar-fixed-bottom {
  z-index: 99999;
  font-size: 200%;
}
.upload .glyphicon {
  color: rgb(93,167,102);
  padding: 20px;

}
i.glyphicon {
  margin: 2px;
}
#keep-open {
  background-color: rgba(158,190,149,1);
  color: black;
  border: 1px solid rgba(0,0,0,0.09);
}
#keep-open:hover {
  background-color: rgba(208, 224, 203, 1);
  background-image: none;
}
#keep-open label {
  color: black;
}

.dropdown-menu span {
  color: white;
  display: table-cell;
}

#bs-example-navbar-collapse-1::-webkit-scrollbar {
  width: 1em;
}

#bs-example-navbar-collapse-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#bs-example-navbar-collapse-1::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 132% !important;
  }
  .dropdown-menu span {
    color: black;
  }
}
@media (max-width: 991px) {
  #solutions {
    margin-top: 600px;
  }
  #keep-open {
    display: none;
  }
  .background-fade {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 99997;
    top: 0;
    display: none;
  }
  .secondary-navbar-bottom {
    display: none !important;
  }
}
body .modal-backdrop {
  background-color: black !important;
  opacity: 0.8 !important;
  display:none;
}
.navbar-fixed-bottom {
  z-index: 9999;
}
.support-tag {
  color: orange;
}
.secondary-navbar-bottom {
  position: fixed;
  display: block;
  bottom: 65px;
  font-size: 13px;
  color: rgba(255,255,255,0.7);
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  padding-left: 9px;
  padding-top: 13px;
}
#max-length {
  width: auto !important;
  color: black;
}
label[for=num-paths] {
  float: left;
  padding-right: 5px;
}
.slow-warning {
  color: white;
  display: block;
  float: left;
  clear: both;
}
#num-path-value {
  color: white;
  float: left;
  font-weight: bold;
  display: block;
  padding: 7px;
  border-radius: 90px;
  border: 1px solid black;
  font-size: 14px;
  position: relative;
  top: -6px;
  left: 6px;
  text-align: center;
}
#num-path-value.fast {
  background-color: rgb(106, 156, 90);
}
#num-path-value.medium {
  background-color: rgb(206, 151, 69);
}
#num-path-value.slow {
  background-color: rgb(255,71,71);
  border: 1px solid black;
  font-weight: bold;
  color: white;
}
#extra-controls6x5 select, #extra-controls6x5 input, #extra-controls7x6 select, #extra-controls7x6 input, #extra-controls5x4 select, #extra-controls5x4 input {
  width: 108px;
  margin-bottom: 10px;
  padding: 8px 10px;
}

.center-text th {
  text-align: center !important;
}
.center-text th i {
  color: rgb(93,167,102);
  cursor: pointer;
}

/** LOADING SOLUTIONS ANIMATION */
.loading-throbber {
  display: none;
}
.loading-throbber span {
  color:#4a8df8;
  font-family: 'Raleway', cursive;
  font-weight:100;
  font-stretch:normal;
  font-size:3.5em;
}

.sliderOMG{
  position:absolute;
  width:400px;
  height:2px;
  left: 0px;
}
.line{
  position:absolute;
  background:#4a8df8;
  width:400px;
  height:2px;

}
.break{
  position:absolute;
  background:#222;
  width:6px;
  height:2px;
}

.dot1{
  -webkit-animation: loading 2s infinite;
  -moz-animation: loading 2s infinite;
  -ms-animation: loading 2s infinite;
  -o-animation: loading 2s infinite;
  animation: loading 2s infinite;
}
.dot2{
  -webkit-animation: loading 2s 0.5s infinite;
  -moz-animation: loading 2s 0.5s infinite;
  -ms-animation: loading 2s 0.5s infinite;
  -o-animation: loading 2s 0.5s infinite;
  animation: loading 2s 0.5s infinite;
}
.dot3{
  -webkit-animation: loading 2s 1s infinite;
  -moz-animation: loading 2s 1s infinite;
  -ms-animation: loading 2s 1s infinite;
  -o-animation: loading 2s 1s infinite;
  animation: loading 2s 1s infinite;
}

@keyframes "loading" {
  from { left: 0; }
  to { left: 400px; }
}
@-moz-keyframes loading {
  from { left: 0; }
  to { left: 400px; }
}
@-webkit-keyframes "loading" {
  from { left: 0; }
  to { left: 400px; }
}
@-ms-keyframes "loading" {
  from { left: 0; }
  to { left: 400px; }
}
@-o-keyframes "loading" {
  from { left: 0; }
  to { left: 400px; }
}
.slider {
}

.glyphicon-heart-empty {
  color: white;
  font-size: 1.4rem;
  width: 22px;
  height: auto;
  display: block;
}
